<h2>User info</h2>
  <table class="table">
    <%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %>
    <tbody>
      <tr>
        <td>name</td>
        <td><%= user.name %></td>
      </tr>
      <tr>
        <td>introduction</td>
        <td><%= user.introduction %></td>
      </tr>
    </tbody>
  </table>
  
  <div class="row">
    <%= link_to "", edit_user_path(user.id), class:"btn btn-outline-secondary btn-block fas fa-user-cog" %>
  </div>
     
  <h2>New book</h2>
  <%= form_with model: book, local: true do |f| %>
    <label>Title</label>
    <%= f.text_field :title, class:"form-control" %>
    <label>Opinion</label>
    <%= f.text_area :body, class:"form-control", rows:"3" %>
    <%= f.submit "Create Book", class:"btn btn-info btn-lg btn-block mt-4"%>
  <% end %>